*{
    margin:0;
    padding: 0;
}
i{
    font-style:normal;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body, html,input{font-family:"微软雅黑" !important;}
/*轮播的圈*/
.quan{
    bottom: 0;
}
.quan .active{
    border-radius:50%;
    background: #84CE20;
}
.quan li{
    border-radius:50%;
    background: #A2AEAE ;
}

/*导航*/
.table-one{
    width: 100%;
    text-align: center;

}
.table-one p{
    padding-top: 3%;
}
.table-one td{
    padding-top: 2%;
    padding-bottom: 2%;
}
.table-one img{
    width: 55%;
}
.hui_tiao{
    width: 100%;
    height: 15px;
    background: #F8F8F8;
    border-top:1px solid #DCDCDC;
}
/*轮播上的搜索框*/
.findd{
    width: 100%;
    background: black;
    padding: 2% 0;
}
.lunbo-ss{
    width: 100%;
    text-align: center;
    background: black;
}

.lunbo-fdj{
    text-align: left;
    background: white;
    padding: 0 2%;
    border-radius: 3px;
}
.index-ssk{
    padding: 2%;
    width: 85%;
    border: none;
    outline: none;
    font-size: 11pt;
}

.lunbo-ss td:nth-child(1){
    width: 16%;
}
.lunbo-ss td:nth-child(2){
    width: 64%;
}
.lunbo-ss td:nth-child(3){
    width: 18%;
}
/*数字*/
.sl-i{
    border: 1px solid white;
    /*padding:0 1%;*/
    border-radius: 50%;
    font-size: 1rem;
    color: #1DB637;
    background: white;
    position: absolute;
    right: 4%;
    top: 1%;
}
/*明星单品*/
.table-two{
    border-bottom: 1px solid #F6F5F5;
    border-left: 7px solid#82C92F;
    width: 100%;
    font-size: 16px;
}
.table-two td{
    padding: 2% 1%;
    color: #797979;
}
.table-two span{
    color: #D30100;
    font-size: 10pt;
}
.table-two img{
    width: 4%;
}
.table-two .td-you{
    text-align: right;
}
.table-thr{
    margin-top: 3%;
    margin-bottom: 4%;
    width: 100%;
    text-align: center;
}
.table-thr img{
    width: 80%;
}
/*用券*/
.ul-tja{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    border-top: 1px solid #EEEEEE;
    background: white;
}
.ul-tja li{
    width: 50%;
    border-right: 1px solid #EEEEEE;
    font-size: 0.8rem;
}
.ul-tja li:nth-child(1){
    position: absolute;
    top: -20px;
    left: 2%;
    width: 30px;
}
.ul-tja li img{
    height: 170px;
    padding: 20px 0;
}

/*超值特价*/
.tab-tja{
    width: 100%;
    text-align: center;
    font-size: 8pt;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: relative;

}
.tab-tja img{
    height: 180px;
    padding: 20px 0;
}

.tab-tja td{
    border: 1px solid #F5F5F5;
    padding: 0 2%;
    color: #4C4B4B;
}

.tj-p{
    color: #FE9390;
}
.tj-p span{
    color: #DFDFDF;
    text-decoration: line-through;
}
.tj-p i{
    font-size: 1.6rem;
}




/*猜你喜欢*/
.p-min{
    padding: 2% 8%;
}

/*底部导航*/
.table-five{
    border-top:1px solid #B3B3B3;
    width: 100%;
    text-align: center;
    color: #C2C2C2;
    background: black;


    position: fixed;
    bottom: 0;
}
.table-five img{
    height: 29px;
}
.table-five td{
    padding-top:1%;
    padding-bottom:1%;
}
.table-five td:hover{
    color: #58A801;
}

.table-five td:nth-child(3){
    position: relative;
}

.table-five p{
    margin-bottom: 0;
    font-size: 12;
}
.sl-ia{
    /*border: 1px solid red;
    padding:0 1%;*/
    border-radius: 50%;
    font-size: 0.9em;
    color: white;
    background: red;
    position: absolute;
    right: 25%;
    width:18px;
    height:18px;
}
@media (min-width: 767px) {  .sl-ia{padding: 1%;font-size: 1.5rem;right: 35%;}}